body{
    margin: 0;
    padding: 0;
    
}

h1{
    font-size: 50px;

}

header{
    color: white;
    background: #ccc;
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    padding:50px;
    height: 50px;  
  
}

figure{
    display: inline-block;
}
.img{
    text-align: center;
}
img{
    max-width: 200px;
    height: auto;
}

div{
}

footer{
    color: white;
    background: #ccc;
    background-color: black;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding:50px;
    height: 50px;
}
h2{
    text-align: right;
 }
figcaption {
    text-align:center;
    
}

